@import 'form';
@import 'input';
@import 'tabs';
@import 'preview';
@import 'table';
@import 'scrollbar';
@import 'stepper';
@import 'button';
@import 'utils';

body button::-moz-focus-inner {
  border: 0;
}

body button:focus {
  outline: none;
}

body input::-moz-focus-inner {
  border: 0;
}

body a {
   outline: 2px;
}
