@import '~scss/partials';
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: $santas-gray;
}

.modal-parapraph {
  max-width: 534px;
}
