

.mat-horizontal-content-container {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.modified {
  margin-top: 25px;
}


.creator-block-footer {
  margin-top: 25px;
}

.creator-block-content {
  padding: 0;
}

.step-button-add {
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  border: none;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  height: 36px;
}

.step-button-add:hover {
  transition: all .2s;
  background-color: rgba(0, 0, 0, .1)
}

@media (max-width: 700px) {
  .creator-block-footer {
    display: flex;
    padding: 0;
    padding-top: 10px;
    margin: 0;

    .step-button-icon {
      display: none;
    }

    button.btn-next-first {
      background-color: #109754;
    }

    button.btn-next-first:disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }

    button:nth-child(1):not(.btn-next-first){
      width: 70px;
      border: none;
      background-color: transparent;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12px;
    }
  }
}
