.mat-button {
  color: #109754;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #293b5a;
}

.disclamer {
  @extend .text;
  width: 280px;
}

.photo-container {
  position: relative;
  width: 720px;
}

// small device (such as iPhone SE)

@media (min-width: 0) and (max-width: 320px) {
  .disclamer {
    font-size: 12px;
  }

  .photo-container {
    width: 250px;
    padding-top: 0;
  }

  ::ng-deep img.docs-item {
    width: 150px;
  }

  .creator-block-footer {
    padding-right: 0;
    margin-right: 0;
  }
}

// such as iPhone 6, Galaxe S5 etc

@media (min-width: 321px) and (max-width: 410px) {
  .info-temporary-storage {
    display: flex;
    justify-content: flex-end;
  }

  .disclamer {
    font-size: 12px;
  }

  .photo-container {
    width: 290px;
    padding-right: 10px;
  }

  .creator-block-footer {
    padding-right: 0;
    margin-right: 0;
  }
}

// such as iPhone 7 Plus, Pixel XL etc

@media (min-width: 411px) and (max-width: 700px) {
  .info-temporary-storage {
    display: flex;
    justify-content: flex-end;
  }

  .disclamer {
    font-size: 12px;
  }

  .photo-container {
    width: 360px;
    padding-right: 10px;
  }

  .creator-block-footer {
    padding-right: 0;
    margin-right: 0;
  }
}
