$white: #ffffff;
$black: #000000;

$salem: #109754;
$lightning-yellow: #ffc51d;
$carnation: #f54d59;

$blue-stone: #00636e;
$rhino: #293b5a;

$alabaster: #f9f9f9;
$santas-gray: #949dad;
$mystic: #e0e6ed;
$mercury: #e2e2e2;

$tundora: #464646;
$silver: #bab9b9;
$alto: #d2d2d2;
$gallery: #f0f0f0;
